@charset "UTF-8";

.ui-state-highlight {
	background-color: #00ff00;
}

.ui-chips-container {
	width: 100%;
}

ul.ui-chips-container ul.ui-widget-content {
	border: none;
}

ul.ui-chips-container.ui-inputfield.ui-state-default.ui-corner-all {
	border: none;
}

.tag-label {
	position: relative;
	left: -15px;
	top: -17px;
}

.center-navbar{
  display: block; 
  text-align: center; 
  color: white; 
  padding: 15px; 
  /* adjust based on your layout */
  margin-left: 50px; 
  margin-right: 300px;
}